* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
body {
  background-image: url("./Images/yellow.jpg");
  background-color: rgb(255, 255, 98);

  overflow-x: hidden;
  background-attachment: fixed;
}

/* hero section styling */

.whatsApp {
  width: 6rem;
  object-fit: contain;
  position: fixed;
  z-index: 1000;
  margin-left: 6rem;
  margin-top: 2rem;
}
.black__friday {
  width: 100vw;
  height: auto;
  margin-top: -5%;
  object-fit: contain;
}

.heading__container > h1 {
  text-align: center;
}

.heading__container > :first-child {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-top: 2rem;
}
.heading__container > :nth-child(2) {
  font-family: "Patua One", cursive;
  font-size: 72px;
  font-weight: 700;
  color: black;
  margin-top: 2rem;
}

.heading__container > :nth-child(3) {
  font-size: 32px;
  font-weight: 600;
  color: black;
  font-style: italic;
  margin-top: 2rem;
}

.heading__container > :nth-child(4) {
  font-weight: 400;
  font-size: 32px;
  color: black;
  margin-top: 2rem;
}

.computer {
  width: 55rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  position: relative;
}
.curve {
  width: 100%;
  height: 300px;
  margin-top: -15% !important;
}

.card {
  background-color: #035488;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding-bottom: 10rem;
  position: relative;
}

.attention__card {
  background-color: white;

  width: 60%;
  margin-top: 10rem;
  border-radius: 20px;
  padding: 2rem 4rem;
}
.attention__card > :first-child {
  color: #e43b2c;
  margin-bottom: 2rem;
  font-size: 24px;
  font-weight: 700;
}

.attention__card > :last-child {
  color: black;
  font-size: 22px;
  font-weight: 500;
}
.card__row {
  background-color: #035488;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-left: 0;
  width: 100%;
}

.col__img > img {
  width: 25rem;
}

.col__img {
  transition: 0.2s all;
  cursor: pointer;
}

.img__wrapper:hover .col__img {
  filter: blur(3px);
  opacity: 0.7;

  transform: scale(0.91);
  transition: transform 0.2s all;
  box-shadow: none;
  filter: grayscale(100%);
}
.img__wrapper:hover .col__img:hover {
  transform: scale(1.1);
  filter: blur(0px);
  transition: transform 0.2s all;
  opacity: 1;
}
.zigzag {
  margin-top: -180px;
  position: relative;
  height: 200px;
  width: 150%;
}

/* after Zig Zag */

.afterZigzag {
  background-color: #f5f5f5;
  position: relative;
}

.first__card,
.second__card {
  background-color: white;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 2px;
  border-radius: 20px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.first__card > h2,
.second__card > h2 {
  font-weight: 400;
  margin-top: 3rem;
}
.second__card > h1 {
  margin-top: 3rem;
  font-size: 32px;
  font-weight: 600;

  width: 100%;
}

/* Third Section styling */

.third__section {
  background-image: url("./Images/background.jpg");
  background-attachment: fixed;
}

/* Achievments */

.achievment {
  background-image: url("./Images/blue.jpg");
}
.achievment > h1 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 44px;
  font-family: "Patua One", cursive;
  padding-top: 5rem;
}
.achievment__img > img {
  width: 80rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.achievment__card {
  background-color: white;
  padding: 3rem;
  border-radius: 20px;
}

.achievment__card > h2 {
  margin-top: 3rem;
  font-weight: 400;
}

/* degree */

.degree {
  background-color: #00376f;
  padding-top: 3rem;
}
.degree > h1,
.make__money > h1,
.agency > h1,
.infomarketing > h1,
.courses > h1,
.testimonials > h1,
.testimonials__by__students > h1 {
  color: white;
  font-weight: 700;
  font-size: 44px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 3px;
  text-align: center;
  font-family: "Patua One", "cursive";
}

/* make money */

.make__money {
  background-image: linear-gradient(to right, #dc353d, #e9621e);
  padding-top: 3rem;
}

/* Psychological__Warfare */

.Psychological__Warfare {
  padding-top: 3rem;
}
.Psychological__Warfare > h1 {
  text-align: center;
  color: #2f2f2f;
  font-size: 44px;
  font-weight: 700;
}

/* per hour */

.per__hour {
  background-image: url("./Images/skyblue.jpg");
  background-size: cover;
  padding-top: 4rem;
}
.per__hour > h1 {
  color: white;
}

/* agency */

.agency,
.courses {
  background-image: linear-gradient(to right, #dc353d, #e9621e);
  padding-top: 3rem;
}

/* infomarkating */
.infomarketing {
  background-color: #00376f;
  padding-top: 3rem;
}

.infomarketing > img {
  width: 100rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* testimonials */

.testimonials {
  background-color: #03396c;
  padding-top: 3rem;
}
/* Infomarketing_for_Baboons */

.Infomarketing_for_Baboons > h1,
.big__lucka > h1 {
  color: black;
  text-align: center;
  font-size: 44px;
  margin-top: 3rem;
  font-weight: 700;
  font-family: "Patua One", "cursive";
}

/* testimonials__by__students */

.testimonials__by__students {
  background-image: url("./Images/skyblue.jpg");
  background-size: cover;
}
.img__col > img {
  width: 30rem;
}

.ml-6 {
  margin-left: 20rem;
}

/* Big Lucka */

.profile__img {
  width: 120rem;

  display: block;
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.img__container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}

.points {
  position: absolute;

  top: 10rem;
  left: 45%;
}
.points > h3 {
  max-width: 80%;
  font-weight: 400;
}

/* footer */

footer {
  background-color: #f5f5f5;
  padding-bottom: 2rem;
  height: 150%;
  margin-bottom: 0;
}

footer > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  padding-top: 5rem;
}
.copyright {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 7rem;
  margin-bottom: 7rem;
  color: black;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: grey;
  margin-right: 5rem;
  font-weight: 600;
}

p {
  text-align: center;
  color: gray;
}

/* media queries */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .whatsApp {
    margin-left: 2rem;
    width: 3rem;
  }
  .starting__para {
    font-size: 1.2rem !important;
  }
  .main__heading {
    font-size: 2.5rem !important;
  }
  .heading__container > :nth-child(3) {
    font-size: 2.2rem !important;
  }
  .heading__container > :nth-child(4) {
    font-size: 2.2rem !important;
  }
  .computer {
    width: 35rem;
    margin-top: 5rem;
  }
  .curve {
    margin-top: -17rem !important;
  }
  .img__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 6rem;
  }
  .card__row {
    margin-top: -2rem;
  }
  .col__img > img {
    padding-top: 2rem !important;
  }
  .attention__card {
    width: 30rem;
  }
  .attention__card > h2 {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .heading > h1 {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .second__card > h1 {
    text-align: center;
    font-size: 1.8rem !important;
  }
  .achievment > h1 {
    font-size: 1.5rem !important;
  }

  .achievment__img > img {
    width: 25rem;
    height: 10rem;
  }

  .second__achievment__img {
    margin-left: 7rem;
  }
  .second__achievment__img > img {
    margin-left: 0 !important;
  }
  .second__achievment__img > img {
    width: 20rem !important;
    padding-top: 2rem;
  }

  .section > h1 {
    font-size: 1.8rem !important;
  }
  .degree > h1 {
    font-size: 1.8rem !important;
  }
  .make__money > h1,
  .per__hour > h1,
  .achievment > h1,
  .Psychological__Warfare > h1,
  .agency > h1,
  .infomarketing > h1,
  .courses > h1,
  .testimonials > h1,
  .Infomarketing_for_Baboons > h1,
  .testimonials__by__students > h1,
  .big__lucka > h1 {
    font-size: 1.8rem !important;
  }
  .infomarketing > img {
    width: 35rem;
  }
  iframe {
    width: 300px !important;
  }
  .last__col {
    margin-right: 7.5rem !important;
  }
  .profile__img {
    width: 35rem;
    height: 50rem;
    object-fit: fill;
  }

  .points {
    top: 6rem;
  }
  .points > h3 {
    font-size: 0.7rem !important;
  }

  .copyright {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  ul li a {
    font-size: 1rem;

    margin-right: 2rem;
  }

  p {
    text-align: center;
    color: gray;
    padding-bottom: 2rem;
  }
  .two__img {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main__heading {
    font-size: 5rem !important;
  }
  .heading > h1 {
    font-size: 2.5rem !important;
    text-align: center;
  }

  .attention__card > h2 {
    font-size: 2rem !important;
    text-align: center;
  }
  .second__card > h1 {
    text-align: center;
    font-size: 2.5rem !important;
  }

  .achievment > h1 {
    font-size: 2.5rem !important;
  }
  .achievment__img > img {
    width: 60rem;
  }
  .section > h1 {
    font-size: 4rem !important;
  }
  .degree > h1 {
    font-size: 4rem !important;
  }
  .achievment > h1,
  .Psychological__Warfare > h1,
  .agency > h1 {
    font-size: 4rem !important;
  }
  .infomarketing > img {
    width: 60rem;
  }

  .img__col > img {
    width: 22rem;
    padding-right: 1rem;
  }
  .two__img {
    margin-right: 1rem;
    margin-left: 11rem;
  }
  .profile__img {
    width: 70rem;
  }
  .points {
    top: 7rem;
  }
  .points > h3 {
    font-size: 0.9rem !important;
  }
  .img__wrapper {
    flex-direction: row;
    align-items: center;
    margin-left: -3%;
  }
  .col__img > img {
    width: 20rem;
    padding-right: 1rem;
  }
  iframe {
    width: 150px;
    height: 100px;
  }
}
